﻿@using EPMS_Forensics_Entities
@model Application

@if (Model.Booklets.Count == 0)
{
    <div class="searchresultintro spacedownx2">There are no booklets matching the entered booklet number</div>
}
else
{ 
    <div class="bigheader left">Passport Booklet Status Confirmation</div>
    <div class="right">
        <ul class="legend">
            <li><span class="validbooklet"></span> Valid Doc</li>
            <li><span class="bookletreplaced"></span> Booklet Replaced</li>
            
            @if (Model.Booklets.Where(x => x.StageCode == "IM1000").FirstOrDefault() != null)
            {
                <li><span class="documentarrived"></span> Doc Arrived</li>
            }
            
            @if (Model.Booklets.Where(x => x.StageCode == "IM2000").FirstOrDefault() != null)
            {
                <li><span class="senttobranch"></span> Sent to branch</li>
            }
            
            @if (Model.Booklets.Where(x => x.StageCode == "EM4200").FirstOrDefault() != null)
            {
                <li><span class="hostupdate1"></span> Pending for host update 1</li>
            }
            
            @if (Model.Booklets.Where(x => x.StageCode == "EM4500").FirstOrDefault() != null)
            {
                <li><span class="hostupdate2"></span> Pending for host update 2</li>
            }
        </ul>
    </div>
    <div class="clear"></div>
    <hr class="hrline" />

    <div class="table shadow">
        <div class="tablediv">
            <div class="bookletstuff tableheader tenpercent">
                <div class="month">Month</div>
                <div class="sn">S/N</div>
                <div class="tracedocno">Doc No</div>
                <div class="entrytime">Entry Time</div>
                <div class="chpsn">Chip S/N</div>
                <div class="brname">Branch Name</div>
                <div class="transfert">Transfer Time</div>
                <div class="typ">Type</div>
                <div class="boxsn">Box S/N</div>
            </div>

            @for (var x = 0; x < Model.Booklets.Count; x++)
            {
                var booklet = Model.Booklets[x];
                <div class="bookletstuff tenpercent @((x + 1) % 2 == 0 ? "even" : "") @(booklet.Color)">
                    <div class="month @(x == 5 ? "rightarrow" : "")">@(x == 0 ? booklet.TransferTime.ToString("MMM yyyy") : x == 5 ? Html.Raw(HttpUtility.HtmlDecode("&#8658; &#8658;")).ToHtmlString() : "")</div>
                    <div class="sn">@(x + 1)</div>
                    <div class="tracedocno">@booklet.DocNo</div>
                    <div class="entrytime">@booklet.EntryTime.ToString("dd/MM/yyyy hh:mm tt").ToLower()</div>
                    <div class="chpsn">@booklet.ChipSn</div>
                    <div class="brname">@booklet.BranchName</div>
                    <div class="transfert">@booklet.TransferTime.ToString("dd/MM/yyyy hh:mm tt").ToLower()</div>
                    <div class="typ">@booklet.Type</div>
                    <div class="boxsn">@booklet.BoxSn</div>
                </div>
            }
        </div>
    </div>

    <div class="bigheader spacetop">Document Status for <b>@Model.DocumentNo</b>: @(Model.StageDescription)</div>
    <hr class="hrline" />
    
    if (!string.IsNullOrEmpty(Model.FormNo))
    { 
        <div class="label140">
            <div class="label left">Passport Status:</div>
            <div class="labeltxt left">@Model.StageDescription</div>
            <div class="clear"></div>

            <div class="even">
                <div class="label left">Application FormNo:</div>
                <div class="labeltxt left">@Model.FormNo</div>
                <div class="clear"></div>
            </div>

            <div class="label left">Application QueryNo:</div>
            <div class="labeltxt left">@Model.QueryNo</div>
            <div class="clear"></div>

            <div class="even">
                <div class="label left">Applicant Name:</div>
                <div class="labeltxt left">@Model.SurnameUpper, @Model.FirstNameUpper @Model.MiddlenameUpper</div>
                <div class="clear"></div>
            </div>

            <div class="label left">Date Of Birth:</div>
            <div class="labeltxt left">@Model.Dob.ToString("dd-MMM-yyyy")</div>
            <div class="clear"></div>

            <div class="even">
                <div class="label left">Enrol By:</div>
                <div class="labeltxt left firstcapitalise">@Model.EnrolledBy.ToLower() at @(Model.EnrolledByTime.ToString("dd/MM/yyyy hh:mm tt").ToLower())</div>
                <div class="clear"></div>
            </div>

            <div class="label left">Encoded By:</div>
            <div class="labeltxt left firstcapitalise">@Model.EncodedBy.ToLower() at @(Model.EncodedByTime.ToString("dd/MM/yyyy hh:mm tt").ToLower())</div>
            <div class="clear"></div>

            <div class="even">
                <div class="label left">Printed By:</div>
                <div class="labeltxt left firstcapitalise">@Model.PrintBy.ToLower() at @(Model.PrintByTime.ToString("dd/MM/yyyy hh:mm tt").ToLower())</div>
                <div class="clear"></div>
            </div>

            <div class="label left">QC By:</div>
            <div class="labeltxt left firstcapitalise">@Model.QcBy.ToLower() at @(Model.QcByTime.ToString("dd/MM/yyyy hh:mm tt").ToLower())</div>
            <div class="clear"></div>

            <div class="even">
                <div class="label left">Issued By:</div>
                <div class="labeltxt left firstcapitalise">@Model.Issuedby.ToLower() at @(Model.IssuedbyTime.ToString("dd/MM/yyyy hh:mm tt").ToLower())</div>
                <div class="clear"></div>
            </div>

            <div class="label left">Expiry Date:</div>
            <div class="labeltxt left">@Model.ExpiryDate.ToString("dd-MMM-yyyy")</div>
            <div class="clear"></div>
        </div>
    }
    else
    {
        <div class="centeredmsg">No data to display</div>
    }
}