﻿@using EPMS_Forensics_Entities
@model List<Person>

<div class="relative">
    @for (var x = 0; x < Model.Count; x++)
    {
        var person = Model[x];
        var app = person.Applications[0];
        <div class="emptypassport shadow">
            <div class="passportnumber rotate">@app.DocumentNo</div>
            <div class="applicationtype @((x + 1) == Model.Count && (app.Appr == "1" || app.Appr == "2") ? "greentxt" : "redtxt")">
                <div>
                    @((x + 1) == Model.Count && (app.Appr == "1" || app.Appr == "2") ? "Valid Document" 
                    : (x + 1) == Model.Count ? "Current Passport" 
                    :  Model[x + 1].Applications[0].ApprString)
                </div>
            </div>
            <div class="frn">FEDERAL REPUBLIC OF NIGERIA</div>
            <div class="passportdata">
                <div class="passportpic">
                    <div class="passporttitle">PASSPORT</div>
                    <div class="passporttitleita">PASSEPORT</div>
                    <img class="photo" src="data:image;base64,@Convert.ToBase64String(person.Photo)" />
                </div>
                <div class="passportdatainfo">
                    <div class="left passportspace">
                        <div class="lillabel">Type / <i>Type</i></div>
                        <div class="labeltxt">@app.ApplicationType</div>
                    </div>
                    <div class="left passportspace">
                        <div class="lillabel">Country</div>
                        <div class="labeltxt">NGA</div>
                    </div>
                    <div class="left passportspace">
                        <div class="lillabel">Passport No</div>
                        <div class="labeltxt">@app.DocumentNo</div>
                    </div>
                    <div class="clear"></div>

                    <div class="lillabel">Surname / <i>Nom</i></div>
                    <div class="labeltxt">@person.Surname.ToUpper()</div>

                    <div class="lillabel">Given Names / <i>Prènoms</i></div>
                    <div class="labeltxt">@person.Firstname.ToUpper() @person.Middlename.ToUpper()</div>

                    <div class="left leftbit">
                        <div class="lillabel">Nationality / <i>Nationalité</i></div>
                        <div class="labeltxt">NIGERIAN</div>
                    </div>

                    <div class="left rightbit">
                        <div class="lillabel">Previous Passport / <i>Précedênte Passeport</i></div>
                        <div class="labeltxt">@app.OldDocumentNo</div>
                    </div>
                    <div class="clear"></div>

                    <div class="left leftbit">
                        <div class="lillabel">Date of Birth / <i>Naissance</i></div>
                        <div class="labeltxt">@person.Dob.ToString("dd MMM yyyy")</div>
                    </div>

                    <div class="left rightbit">
                        <div class="lillabel">Personal No. / <i>N° personnel</i></div>
                        <div class="labeltxt"></div>
                    </div>
                    <div class="clear"></div>

                    <div class="left leftbit">
                        <div class="left">
                            <div class="lillabel">Sex / <i>Sexe</i></div>
                            <div class="labeltxt">@person.Gender.ToUpper()</div>
                        </div>

                        <div class="left passportspace3">
                            <div class="lillabel">Place of Birth</div>
                            <div class="labeltxt">@person.PlaceOfBirth</div>
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="left rightbit">
                        <div class="lillabel">Authority / <i>Authorité</i></div>
                        <div class="labeltxt">@app.IssuingBranchUpper.ToUpper()</div>
                    </div>
                    <div class="clear"></div>

                    <div class="left leftbit">
                        <div class="lillabel">Date of Issue / <i>Délivrance</i></div>
                        <div class="labeltxt">@app.IssueDate.ToString("dd MMM") / @app.IssueDate.ToString("MMM yy").ToUpper()</div>
                        <div class="lillabel">Date of Expiry / <i>D'expiration</i></div>
                        <div class="labeltxt">@app.ExpiryDate.ToString("dd MMM").ToUpper() / @app.ExpiryDate.ToString("MMM yy").ToUpper()</div>
                    </div>

                    <div class="left rightbit">
                        <div class="lillabel">Holder's Signature / De titulaire</div>
                        @if (person.Signature != null)
                        {
                            <img class="signature" src="data:image;base64,@Convert.ToBase64String(person.Signature)" />
                        }
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="ocr">
                    <div class="ocr1">@app.Mrz1</div>
                    <div>@app.Mrz2</div>
                </div>
            </div>
        </div>
    }
</div>

