﻿@using EPMS_Forensics_Entities.Summary
@model Summary

@if (Model.DocumentInfo.Count != 0)
{ 
    if (Model.DocumentInfo.Count > 1)
    {
        <div class="left"></div>
        <div class="nextprevdiv right">
            @Html.Hidden("currentpassport", 1)
            @Html.Hidden("totalpassports", Model.DocumentInfo.Count)
            <div class="prev disabled button left">Prev</div>
            <div class="left countinfo">1 of @(Model.DocumentInfo.Count)</div>
            <div class="next button left">Next</div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    }

    for (var x = 0; x < Model.DocumentInfo.Count; x++)
    {
        var pd = Model.PersonalData.Where(y => y.FormNo == Model.DocumentInfo[x].FormNo).FirstOrDefault();
        var ad = Model.AfisData.Where(y => y.FormNo == Model.DocumentInfo[x].FormNo).FirstOrDefault();
        var fs = Model.FingerprintSubmission.Where(y => y.FormNo == Model.DocumentInfo[x].FormNo).FirstOrDefault();
        var ed = Model.EnrolmentData.Where(y => y.FormNo == Model.DocumentInfo[x].FormNo).FirstOrDefault();
        var di = Model.DocumentInfo.Where(y => y.FormNo == Model.DocumentInfo[x].FormNo).FirstOrDefault();
        var pi = Model.PersonalisationInfo.Where(y => y.FormNo == Model.DocumentInfo[x].FormNo).FirstOrDefault();

        <div id="application@(x+1)" class="@(x > 0 ? "hidden" : "")">
            <div class="@(Model.DocumentInfo.Count > 1 ? "bigformnosummary" : "bigformsummary")">Form No: <b>@Model.DocumentInfo[x].FormNo</b></div>
            <div class="table borderspacing5">
                <div class="asection">
                    <div class="sectiontitle">Applicant Personal Data</div>
                    <div class="groupboxsummary">
                        @if (pd != null)
                        {
                            <div class="label">Surname</div>
                            <div class="labeltxt firstcapitalise">@pd.Surname.ToLower()</div>

                            <div class="even">
                                <div class="label">Firstname</div>
                                <div class="labeltxt firstcapitalise">@pd.Firstname.ToLower()</div>
                            </div>

                            <div class="label">Middle</div>
                            <div class="labeltxt firstcapitalise">@pd.Middle.ToLower()</div>

                            <div class="even">
                                <div class="label">Gender</div>
                                <div class="labeltxt firstcapitalise">@pd.Gender.ToLower()</div>
                            </div>

                            <div class="label">Date of Birth</div>
                            <div class="labeltxt">@pd.BirthDate.ToString("dd/MM/yyyy")</div>

                            <div class="even">
                                <div class="label">State of Origin</div>
                                <div class="labeltxt capitalisewords">@pd.StateOfOrigin.ToLower()</div>
                            </div>

                            <div class="label">Place of Birth</div>
                            <div class="labeltxt capitalisewords">@pd.PlaceOfBirth.ToLower()</div>
                        }
                        else
                        {
                            <div class="centeredmsg">No Data Available</div>
                        }
                    </div>
                </div>

                <div class="asection">
                    <div class="sectiontitle">Applicant Record in AFIS</div>
                    <div class="groupboxsummary">
                        @if (ad != null)
                        {
                            if (ad.CreationDate != DateTime.MinValue)
                            {
                                <div class="label">Query Number</div>
                                <div class="labeltxt firstcapitalise">@ad.QueryNo</div>

                                <div class="even">
                                    <div class="label">Form Number</div>
                                    <div class="labeltxt">@ad.FormNo</div>
                                </div>

                                <div class="label">Created</div>
                                <div class="labeltxt">@ad.CreationDate</div>

                                <div class="even">
                                    <div class="label">Modified</div>
                                    <div class="labeltxt">@ad.LastModified</div>
                                </div>
                            }
                            else
                            {
                                <div class="centeredmsg">First Entry</div>
                            }
                        }
                        else
                        {
                            <div class="centeredmsg">No Data Available</div>
                        }
                    </div>
                </div>

                <div class="asection">
                    <div class="sectiontitle">Applicant Fingerprint Submission</div>
                    <div class="groupboxsummary">
                        @if (fs != null)
                        {
                            <div class="label">Form No</div>
                            <div class="labeltxt">@fs.FormNo</div>

                            <div class="even">
                                <div class="label">Query Number</div>
                                <div class="labeltxt">@fs.QueryNo</div>
                            </div>

                            <div class="label">Entry Time</div>
                            <div class="labeltxt">@fs.EntryTime.ToString("dd/MM/yyyy hh:mm tt").ToLower()</div>

                            <div class="even">
                                <div class="label">Appr Reason</div>
                                <div class="labeltxt firstcapitalise">@fs.AppReason.ToLower()</div>
                                <div class="clear"></div>
                            </div>

                            <div class="label">Stagecode</div>
                            <div class="labeltxt">@fs.StageCode</div>

                            <div class="even">
                                <div class="label">Flag</div>
                                <div class="labeltxt">@fs.Flag</div>
                            </div>

                            <div class="label">Old Doc No</div>
                            <div class="labeltxt">@fs.OldDocNo</div>

                            <div class="even">
                                <div class="label">Doc Type</div>
                                <div class="labeltxt">@fs.DocType</div>
                            </div>

                            <div class="label">Remarks</div>
                            <div class="labeltxt">@fs.Remarks</div>
                        }
                        else
                        {
                            <div class="centeredmsg">No Data Available</div>
                        }
                    </div>
                </div>
            </div>

            <div class="table borderspacing5">
                <div class="asection">
                    <div class="sectiontitle">Basic Enrolment Data</div>
                    <div class="groupboxsummary">
                        @if (ed != null)
                        {
                            <div class="label">Stage Code</div>
                            <div class="labeltxt">@ed.StageCode</div>

                            <div class="even">
                                <div class="label">Remarks</div>
                                <div class="labeltxt">@ed.Remarks</div>
                            </div>

                            <div class="label">Old Doc No</div>
                            <div class="labeltxt">@ed.OldDocNo</div>

                            <div class="even">
                                <div class="label">Doc Type</div>
                                <div class="labeltxt">@ed.DocType</div>
                            </div>

                            <div class="label">Old Form No</div>
                            <div class="labeltxt">@ed.OldFormNo</div>

                            <div class="even">
                                <div class="label">Enrolled By</div>
                                <div class="labeltxt capitalisewords">@ed.EnrolBy.ToLower()</div>
                            </div>

                            <div class="label">Enrol Time</div>
                            <div class="labeltxt">@ed.EnrolTime.ToString("dd/MM/yyyy hh:mm tt").ToLower()</div>
                        }
                        else
                        {
                            <div class="centeredmsg">No Data Available</div>
                        }
                    </div>
                </div>

                <div class="asection">
                    <div class="sectiontitle">Applicant Document Information</div>
                    <div class="groupboxsummary">
                        @if (di != null)
                        {
                            <div class="label">Form No</div>
                            <div class="labeltxt">@di.FormNo</div>

                            <div class="even">
                                <div class="label">Doc Type</div>
                                <div class="labeltxt">@di.DocType</div>
                            </div>

                            <div class="label">Doc No</div>
                            <div class="labeltxt">@di.DocNo</div>

                            <div class="even">
                                <div class="label">Stage Code</div>
                                <div class="labeltxt">@di.StageCode</div>
                            </div>

                            <div class="label">Issue By</div>
                            <div class="labeltxt capitalisewords">@di.IssueBy.ToLower()</div>

                            <div class="even">
                                <div class="label">Issue Time</div>
                                <div class="labeltxt">@di.IssueTime.ToString("dd/MM/yyyy hh:mm tt").ToLower()</div>
                            </div>
                        }
                        else
                        {
                            <div class="centeredmsg">No Data Available</div>
                        }
                    </div>
                </div>

                <div class="asection">
                    <div class="sectiontitle">Document Personalisation Information</div>
                    <div class="groupboxsummary">
                        @if (pi != null)
                        {
                            <div class="label">Form No</div>
                            <div class="labeltxt">@pi.FormNo</div>

                            <div class="even">
                                <div class="label">Doc No</div>
                                <div class="labeltxt">@pi.DocNo</div>
                            </div>

                            <div class="label">Stage Code</div>
                            <div class="labeltxt">@pi.StageCode</div>

                            <div class="even">
                                <div class="label">Perso Time</div>
                                <div class="labeltxt">@pi.PersoTime.ToString("dd/MM/yyyy hh:mm tt").ToLower()</div>
                            </div>

                            <div class="label">Remarks</div>
                            <div class="labeltxt">@pi.Remarks</div>
                        }
                        else
                        {
                            <div class="centeredmsg">No Data Available</div>
                        }  
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    for (var x = 0; x < Model.FingerprintSubmission.Count; x++)
    {
        var fs = Model.FingerprintSubmission[x];

        <div id="application@(x+1)" class="@(x > 0 ? "hidden" : "")">
            <div class="bigformsummary">Form No: <b>@fs.FormNo</b></div>
            <div class="table borderspacing5">
                <div class="asection">
                    <div class="sectiontitle">Applicant Personal Data</div>
                    <div class="groupboxsummary">
                        <div class="centeredmsg">No Data Available</div>
                    </div>
                </div>

                <div class="asection">
                    <div class="sectiontitle">Applicant Record in AFIS</div>
                    <div class="groupboxsummary">
                        <div class="centeredmsg">No Data Available</div>
                    </div>
                </div>

                <div class="asection">
                    <div class="sectiontitle">Applicant Fingerprint Submission</div>
                    <div class="groupboxsummary">
                        <div class="label">Form No</div>
                        <div class="labeltxt">@fs.FormNo</div>

                        <div class="even">
                            <div class="label">Query Number</div>
                            <div class="labeltxt">@fs.QueryNo</div>
                        </div>

                        <div class="label">Entry Time</div>
                        <div class="labeltxt">@fs.EntryTime.ToString("dd/MM/yyyy hh:mm tt").ToLower()</div>

                        <div class="even">
                            <div class="label">Appr Reason</div>
                            <div class="labeltxt firstcapitalise">@fs.AppReason.ToLower()</div>
                            <div class="clear"></div>
                        </div>

                        <div class="label">Stagecode</div>
                        <div class="labeltxt">@fs.StageCode</div>

                        <div class="even">
                            <div class="label">Flag</div>
                            <div class="labeltxt">@fs.Flag</div>
                        </div>

                        <div class="label">Old Doc No</div>
                        <div class="labeltxt">@fs.OldDocNo</div>

                        <div class="even">
                            <div class="label">Doc Type</div>
                            <div class="labeltxt">@fs.DocType</div>
                        </div>

                        <div class="label">Remarks</div>
                        <div class="labeltxt">@fs.Remarks</div>
                    </div>
                </div>
            </div>

            <div class="table borderspacing5">
                <div class="asection">
                    <div class="sectiontitle">Basic Enrolment Data</div>
                    <div class="groupboxsummary">
                        <div class="centeredmsg">No Data Available</div>
                    </div>
                </div>

                <div class="asection">
                    <div class="sectiontitle">Applicant Document Information</div>
                    <div class="groupboxsummary">
                        <div class="centeredmsg">No Data Available</div>
                    </div>
                </div>

                <div class="asection">
                    <div class="sectiontitle">Document Personalisation Information</div>
                    <div class="groupboxsummary">
                        <div class="centeredmsg">No Data Available</div>
                    </div>
                </div>
            </div>
        </div>
    }
}