﻿@using EPMS_Forensics_Entities
@model List<Person>

@if (Model.Count > 1)
{
    <div class="nextprevdiv right">
        @Html.Hidden("currentpassport", 1)
        @Html.Hidden("totalpassports", Model.Count)
        <div class="prev disabled button left">Prev</div>
        <div class="left countinfo">1 of @(Model.Count)</div>
        <div class="next button left">Next</div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
}

@if (string.IsNullOrEmpty(Model[0].AfisRecords[0].FormNo))
{
     <div class="centeredmsg">No AFIS Record Found</div>
}
else
{ 
    for (var x = 0; x < Model.Count; x++)
    {
        <div id="application@(x+1)" class="@(x > 0 ? "hidden" : "")">
            <div class="bigformno">@Model[x].FirstNameUpper @Model[x].MiddlenameUpper @Model[x].SurnameUpper: <b>Form No - @Model[x].AfisRecords[0].FormNo</b></div>
            <div class="table shadow">
                <div class="tablediv">
                    <div class="tableheader fifteenpercent">
                        <div class="dmltype">DML Type</div>
                        <div class="stagecode">Stage Code</div>
                        <div class="adtdate">ADT Date</div>
                        <div class="remarks">Remarks</div>
                        <div class="olddocno">Old Doc No</div>
                        <div class="flag1">Flag 1</div>
                        <div class="flag2">Flag 2</div>
                    </div>

                    @for (var y = 1; y < Model[x].AfisRecords.Count + 1; y++)
                    {
                        var transaction = Model[x].AfisRecords[y - 1];
                        <div class="fifteenpercent @(y % 2 == 0 ? "even" : "")">
                            <div class="dmltype">@transaction.DmlType</div>
                            <div class="stagecode">@transaction.StageCode</div>
                            <div class="adtdate">@transaction.AdtDate</div>
                            <div class="remarks">@transaction.Remarks</div>
                            <div class="olddocno">@transaction.OldDocNumber</div>
                            <div class="flag1">@transaction.Flag1</div>
                            <div class="flag2">@transaction.Flag2</div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
}


