﻿@using EPMS_Forensics_Entities
@model List<Application>

<div class="table shadow">
    <div class="tablediv">
        <div class="tableheader tenpercent">
            <div class="enrolday">Enrol Day</div>
            <div class="enroltime">Enrol Time</div>
            <div class="formno">Form No</div>
            <div class="queryno">Query No</div>
            <div class="docno">Doc No</div>
            <div class="appr">Appr</div>
            <div class="olddocno">Old Doc No</div>
            <div class="stagedescription">Stage Desc</div>
            <div class="remarks">Remarks</div>
        </div>

        @for (var x = 1; x < Model.Count + 1; x++)
        {
            var application = Model[x - 1];
            <div id="@(application.DocumentNo)" class="tenpercent @(x % 2 == 0 ? "even" : "")">
                <div class="enrolday">@application.EnrolDate.ToString("dd MMM yyyy") (@application.EnrolDate.DayOfWeek.ToString().Substring(0, 3))</div>
                <div class="enroltime">@application.EnrolDate.ToString("hh:mm:ss tt").ToUpper()</div>
                <div class="formno">@application.FormNo</div>
                <div class="queryno">@application.QueryNo</div>
                <div class="docno">@application.DocumentNo</div>
                <div class="appr">@application.Appr</div>
                <div class="olddocno">@application.OldDocumentNo</div>
                <div class="stagedescription">@application.StageDescription</div>
                <div class="remarks">@application.Remarks</div>
            </div>
        }
    </div>
</div>

