﻿.well {
    min-height: 20px;
    padding: 15px;
    margin-bottom: 5px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    font-family: Arial;
    font-size: 14px;
}

.selectreport
{
    margin: 0px 0px 10px 0px;  
}

.reportName
{
    width: 151px;
    color: #369;
}

.reportName:hover
{
    cursor: pointer;
    text-decoration: underline;
}

.printbutton
{
    border: none;
    cursor: pointer;
    width: 31px;
    margin: -7px 0px 0px 0px;
    height: 30px;
    margin-left:  15px;
    border-radius: 5px 5px 5px 5px; 
    -moz-border-radius: 5px 5px 5px 5px; 
    -webkit-border-radius: 5px 5px 5px 5px; 
    -khtml-border-radius:  5px 5px 5px 5px; 
    background: url(/images/printericon.png) no-repeat 1px 3px;
    padding: 1px;
    border: 1px solid #ccc;
    background-color: white; 
}

.printbutton:hover
{
    opacity: 0.7;    
}

.todiv
{
    margin: 3px 5px 0px 5px;  
    font-size: 11px;  
}

.jdpicker
{
    width: 88px;
    margin-top: -4px;
    background: white url(/images/calender.jpg) no-repeat 77px 4px;
    height: 22px;
}

.headerDiv
{
    text-align: center;
    background-color: #ccc;
    padding: 10px 0px;
    font-size: 18px;
    margin-top: 40px;
}

.headerDiv2
{
    text-align: center;
    font-size: 21px;
    padding: 20px 0px;
}

.headerDiv3
{
    text-align: center;
    font-size: 24px;
    margin-top: 40%;
    font-weight: bold;
}

.headerDiv4
{
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
}

.timestamp
{
    position: absolute;
    bottom: 20px;
    left: 25px;
    width: 94%;
}

.timestamp2
{
    position: absolute;
    bottom: 10px;
    left: 25px;
    width: 94%;
    font-size: 11px;
}

.normalpage
{

}

.mainheader
{
    text-align: center;
    background-color: #333;
    color: white;
    padding: 7px 0px;
    font-size: 18px;
}

.header2
{
    margin: 5px 0px 10px 0px;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
}

.headingx
{
    text-align: center;
    font-weight: bold;
    border:1px solid #999;
    border-right:none;
    padding: 3px;
}

.heading1
{
    width: 15.1%;
}

.heading2
{
    width: 7.2%;
}

.heading3
{
    width: 36.1%;
}

.heading4
{
    width: 21.5%;
}

.heading5 {
    width: 15%;
    border-right: 1px solid #ccc;  
}

.divborder
{
    border: 1px solid #999;
    border-top: 3px solid #333;
}

.bkx 
{
    border: 1px solid #999;
    border-right: none;
    border-top: none;
    padding: 3px 0px 3px 6px;
    min-height: 17px;
}

.bktype
{
    font-weight: bold;
    width: 15%;
    border-bottom: none;
    border-left: 1px solid transparent;
}

.bkserial
{
    padding: 3px 6px 3px 0px;
    width: 7.2%;
    text-align: right;
}

.bkbranch
{
    width: 36.1%;
}

.bkCount
{
    width: 21.5%;
    text-align: center;
}

.bkTotal
{
    width: 15%;
    padding: 3px 6px 3px 0px;
    font-weight: bold;
    border-right: 1px solid transparent;
    border-left: 1px solid #999;
    text-align: right;
    font-size: 17px;
}

.noborder
{
    border-color: transparent;
    min-height: 20px;
    border-bottom: none;
}

.bkhrclass
{

}

.page {
    min-height: 29.7cm;
    margin: 0.5cm auto;
    border: 1px #D3D3D3 solid;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    position: relative;
}

.subpage {
    padding: 0.5cm;
    border: 1px #ccc solid;
    height: 330mm;
    position: relative;
}

.subpage2 {
    padding: 0.5cm;
    height: 330mm;
    position: relative;
    font-size: 14px;
}

@page {
    size: A4;
    margin: 0;
}

@media print {
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-inside: avoid;
        page-break-after: always;
        font-family: Lucida Bright
    }

    #content, header, footer{
        display: none;
    }

    #printable{
        display: block;
    }

}