﻿.menuLeft
{
    width: 99px;
}

.leftSide
{
    width: 101px;   
}

.Header
{
    padding: 20px 0px 10px 30px;  
}

.rightSide
{
    width: 775px;
}

.accMainDiv
{
    padding: 10px 30px 30px 20px;
}


.well {
    min-height: 20px;
    padding: 15px;
    margin-bottom: 5px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    font-family: Arial;
    font-size: 14px;
}

.selectreport
{
    margin: 0px 0px 10px 0px;   
}

.sortInfo
{
    font-size: 12px;
    padding: 0px;
    width:auto;   
}

.repeater
{
    font-size: 12px;
    text-align: center;
}

.repeater:hover
{
    color: #333 !important;
}

.repeater div
{
    line-height: 26px;
    min-height: 1px;
    padding-left: 10px;
    box-sizing: border-box;
}

.repeater div:hover
{
    background-color: transparent !important;
}

.repeaterxx div
{
    line-height: 33px;
    font-size: 13px;
}

.repeaterHeader1
{
    width: 150px !important;
}

.repeaterHeader2
{
    width: 80px !important;
}

.repeaterHeader3
{
    width: 100px !important;
}

.repeaterHeader4
{
    width: 100px !important;
}

.repeaterHeader5
{
    width: 130px !important;
}

.repeaterHeader6
{
    width: 80px !important;
}

.repeaterHeader7
{
    width: 128px !important;
    border-right: none !important;
}

.noreportsfound
{
    line-height: 200px;   
    font-size: 18px;
    text-align: center;
    color: #369;
}

.hrclass2
{
    height: 1px;
    background-color: #ccc;   
    border: none;
    margin: 0;
}

.liltop
{
    margin-top: 10px;
}

#ReportsDiv
{
    min-height: 200px;
}

.reportName
{
    width: 151px;
    color: #369;
}

#ppinfodiv, #Adminppinfodiv
{
    width: 365px;
    height: 275px;
    background-color: white;   
}

#logviewer
{
    width: 850px;
    height: 590px;
    background-color: white;   
}

.reportName:hover
{
    cursor: pointer;
    text-decoration: underline;
}

.reportDocNumber
{
    width: 81px;
}

.reportBank
{
    width: 101px;
}

.reportBankBranch
{
    width: 101px;
}

.reportOprName
{
    width: 131px;
}

.reportVerificationReason
{
    width: 129px;
}

.reportViewDate
{
    width: 81px;
}

.Sorter
{
    padding-top: 10px !important;   
}

#pagingDiv, #adminpagingDiv
{
    position: absolute;
    bottom: 10px;
    width: 100%;
    font-size: 12px;
}

.pagindHR
{
    margin: 35px 0px 15px 0px;
    background-color: #ccc;
    border: none;
    height: 1px;
}

.pagingLabel
{
    margin:0px 10px 0px 0px;
    line-height: 30px;
}

.paging
{
    font-size: 12px; 
    margin-top: 10px;
    text-align: center;  
}

.centeredMsg
{
    text-align: center;
    margin: 0px 20px 0px 20px;
}

#paging
{
    text-align: center;
}

.next
{
    font-size:17px;
    color: #336699;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    margin-top: 1px;
}

.linkButtons
{
     border: 1px solid #ccc;
     padding: 5px 8px;
     background-color: white;
     text-decoration: none;
     font-size:12px;
     margin: 0px 5px 0px 5px;
}

.nextns
{
    color: white;
    background-color: #999;
}

.nextnsx
{
    color: #333;
    background-color: white;
    opacity: 0.8;
}

.nextn
{
    cursor: pointer;
    color: #369;
}

.nextn:hover, .next:hover
{
    opacity: 0.8;
}

.firstperc
{
    width: 20%;
}

.secondperc
{
    width: 64%;
}

.thirdperc
{
    width: 12%;
    text-align: right;
    padding-right: 30px;
}

.reportFace
{
    margin-right: 15px;
}

.labelleft
{
    font-size: 13px;
    margin-bottom: 5px;
    color: #369;
}

.labelright
{
    font-size: 15px;
}

.infoline
{
    margin-bottom: 16px;
}

.gobutton
{
    border: none;
    cursor: pointer;
    width: 25px;
    margin: -3px 0px 0px 0px;
    height: 25px;
    margin-left:  15px;
    border-radius: 15px 15px 15px 15px; 
   -moz-border-radius: 15px 15px 15px 15px; 
   -webkit-border-radius: 15px 15px 15px 15px; 
   -khtml-border-radius:  15px 15px 15px 15px; 
   background: #91233C url(/images/minisearch2.jpg) no-repeat 4px 3px;
}

.printbutton
{
    border: none;
    cursor: pointer;
    width: 31px;
    margin: -7px 0px 0px 0px;
    height: 30px;
    margin-left:  15px;
    border-radius: 5px 5px 5px 5px; 
   -moz-border-radius: 5px 5px 5px 5px; 
   -webkit-border-radius: 5px 5px 5px 5px; 
   -khtml-border-radius:  5px 5px 5px 5px; 
   background: url(/images/printericon.png) no-repeat 1px 3px;
   padding: 1px;
   border: 1px solid #ccc;
   background-color: white; 
}

.gobutton:hover, .printbutton:hover
{
    opacity: 0.7;    
}

.todiv
{
    margin: 3px 5px 0px 5px;  
    font-size: 11px;  
}

.jdpicker
{
    width: 88px;
    margin-top: -4px;
    background: white url(/images/calender.jpg) no-repeat 77px 4px;
    height: 22px;
}

.nlabel2
{
    font-size: 12px;   
}

.sortInfo
{
    width:auto !important;
    padding-right: 10px !important;
}

.results
{
    color: red;
    font-size: 14px;
}

.staffpic2
{
    width: 200px;
    height: 250px;  
    margin: 4px 20px 0px 0px;
    border: 1px solid #ccc;
}

.staffpic2 img
{
    height: 100%;
    width: 100%;    
}

#Generalppinfodiv
{
    min-height: 315px;
    min-width: 410px;   
}

.labelright2
{
    font-size: 14px;   
    min-height: 17px;
}

.labelleft2
{
    font-size: 12px;   
    margin-bottom: 3px;
    color: #369;
}

.infoline2
{
    margin-bottom: 10px;
}

.inforesult
{
    margin: 0px 0px 0px 20px; 
    font-weight: bold; 
    color: #369
}