﻿<link type="text/css" rel="stylesheet" href="~/Content/select2.css" />
<link type="text/css" rel="stylesheet" href="~/Content/jquery-ui.css" />
<link type="text/css" rel="stylesheet" href="~/Content/report/report.css" />

<script src="~/Scripts/master/jquery-ui-1.10.4.custom.min.js"></script>
<script src="~/Scripts/master/select2.full.js"></script>
<script src="~/Scripts/report/reports.js"></script>

<div id="generatereport" class="groupbox">
    <div id="non-printable">
        <div class="selectreport well">
            <div>
                <div class="left label">Select Report: </div>
                <div class="left">
                    <select id="selectoptions2" class="selectbox">
                        <option></option>
                        <option value="0">All Branches</option>
                        <option value="1">Local Branches</option>
                        <option value="2">Foreign Branches</option>
                    </select>
                </div>
            </div>
            <div id="Passportspecificdiv" class="right">
                @Html.TextBox("cmbintervalstart", null, new { type = "text", placeholder = "- Today -", name = "datepicker", autocomplete = "off", id = "PassporttxtFromDatex", @class = "jdpicker left" })
                <div class="left todiv">To</div>
                @Html.TextBox("cmbintervalstop", null, new { type = "text", placeholder = "- Today -", name = "datepicker", autocomplete = "off", id = "PassporttxtToDatex", @class = "jdpicker left" })
                <div class="printbutton left" onclick="PassportReportPrint('', '', '')" id="specificbtn"></div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="printinfo hidden well">
            <div id="infomsg" class="left">Generating Report</div>
            <div id="inforesult" class="left inforesult"></div>
            <div class="clear"></div>
        </div>
    </div>
</div>