﻿@media print{@page {size: landscape; }}


header, footer
{
    display: none !important;
}

body, html, .middle, .table, .groupbox
{
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
}

.menudiv, .printbtn
{
    display: none !important;
}

#searchagain
{
    display: none !important;
}

.groupbox
{
    border: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

div
{
    -webkit-print-color-adjust: exact; 
}

.emptypassport, tablecell div
{
    border: 1px solid #ccc !important;
    box-shadow: none;
    -webkit-box-shadow: none;
    display: list-item;
    list-style-image: url(/Images/emptypassport.jpg);
    list-style-position: inside;
}

.emptypassport
{
    page-break-after: always;
}

.emptypassport:last-of-type, emptypassport:last-child
{
    page-break-after: auto;
}

.refreshbuttondiv, .nextprevdiv
{
    display: none !important;
}

.tableparentmargin.notselected
{
    display: none !important;
}

.tableparentmargin.selected
{
    display: block !important;
}

.tableparentmargin
{
    display: block;
    page-break-after: always;
    height: 500px;
}

.labeltitle, .labeltitle3
{
    font-weight: bold;
    background-color: white;
    color: #333;
    font-size: 17px;
}

.middle
{
    padding-right: 0px;
    padding-right: 0px;
}