﻿@using EPMS_Forensics_Entities
@model List<Person>


<div class="tableparent">

<div class="button right printbtn printone">Print</div>
<div class="button right printbtn printall">Print All</div>
<div class="clear"></div>
@if (Model.Count > 1)
{
    <div class="nextprevdiv right">
        @Html.Hidden("currentpassport", 1)
        @Html.Hidden("totalpassports", Model.Count)
        <div class="prev disabled button left">Prev</div>
        <div class="left countinfo">1 of @(Model.Count)</div>
        <div class="next button left">Next</div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
}

@{
    int apprcount = 0;
    int apprtotal = 1;
    for (int x = 0; x < Model.Count; x++)
    {
        if (int.Parse(Model[x].Applications[0].Appr) == 2)
        {
            apprtotal++;
        }
    }
    for (int x = 0; x < Model.Count; x++)
    {
        Person applicant = Model[x];
        Application app = applicant.Applications[0];
        if (int.Parse(app.Appr) == 2)
        {
            apprtotal--;
        }

        <div id="application@(x + 1)" class="tableparentmargin @(x > 0 ? "hidden" : "")">
            <a class="printlink" onclick="document.title = '@(applicant.SurnameUpper) @(applicant.FirstNameUpper) @(applicant.MiddlenameUpper) @(app.FormNo)_@(applicant.DOB.ToString("dd-MMM-yyyy"))'; window.print(); return null"></a>
            <div class="leftside tablecell">
                <div class="labeltitle3">Application Details</div>
                <div>
                    <div class="label">Issuing Branch</div>
                    <div class="labeltxt">@app.IssuingBranchUpper.ToUpper()</div>
                </div>
                <div>
                    <div class="label">Enrolment ID</div>
                    <div class="labeltxt">@app.FormNo</div>
                </div>

                <div class="labeltitle">Personal Details</div>
                <div class="even">
                    <div class="label">Surname</div>
                    <div class="labeltxt">@applicant.SurnameUpper</div>
                </div>

                <div class="label">Firstname</div>
                <div class="labeltxt">@applicant.FirstNameUpper</div>

                <div class="even">
                    <div class="label">Middlename</div>
                    <div class="labeltxt">@applicant.MiddlenameUpper</div>
                </div>

                <div class="label">Gender</div>
                <div class="labeltxt">@(applicant.Gender == "M" ? "Male" : applicant.Gender == "F" ? "Female" : "")</div>

                <div class="even">
                    <div class="label">Old DocNo</div>
                    <div class="labeltxt">@app.OldDocumentNo</div>
                </div>

                <div class="label">Date of Birth</div>
                <div class="labeltxt">@applicant.DOB.ToString("dd-MMM-yyyy")</div>

                <div class="even">
                    <div class="label">Place of Birth</div>
                    <div class="labeltxt firstcapitalise">@applicant.PlaceOfBirth.ToLower()</div>
                </div>

                <div class="label">State of Origin</div>
                <div class="labeltxt firstcapitalise">@applicant.StateOfOrigin.ToLower()</div>

                <div class="even">
                    <div class="label">Home Address</div>
                    <div class="labeltxt">@applicant.HomeAddress</div>
                </div>

                <div class="label">Mobile Number</div>
                <div class="labeltxt">@app.MobileNumber</div>

                <div class="even">
                    <div class="label">Contact Phone</div>
                    <div class="labeltxt">@app.ContactNumber</div>
                </div>

                <div class="label">Email Address</div>
                <div class="labeltxt">@app.EmailAddress</div>
                <div class="even"></div>

                <div class="labeltitle">Next Of Kin</div>

                <div class="even">
                    <div class="label">Name</div>
                    <div class="labeltxt capitalisewords">@app.NOK.NameString.ToLower()</div>
                </div>

                <div class="label">Address</div>
                <div class="labeltxt">@app.NOK.HomeAddress</div>
                <div class="even"></div>

                <div class="labeltitle">Guarantor</div>

                <div class="even">
                    <div class="label">Name</div>
                    <div class="labeltxt capitalisewords">@app.GuarantorName.ToLower()</div>
                </div>

                <div class="label">Address</div>
                <div class="labeltxt">@app.GuarantorAdress</div>
                <div class="even"></div>
            </div>

            <div class="rightside tablecell relative">
                <div class="left spaceright">
                    <div class="passporttype">
                        <div class="refreshbuttondiv">
                            <div onclick="RefreshApplicationDetails(@applicant.IdPerson)" class="button refreshbtn left">Refresh</div>
                            <div id="refreshloading" class="loadingdiv left">
                                <div class="smallmodal"></div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="labeltitle2">Application Type</div>
                    </div>
                    <div class="apprinfo greenpass">
                        <div>
                            @(app.Appr == "2" ? Airport_Forensics.Helpers.iHelper.Ordinal(apprtotal) + " Reissue"
: app.ApprString)
                    </div>
                </div>

                <div class="even">
                    <div class="label">DocNo</div>
                    <div class="labeltxt">@app.DocumentNo</div>
                </div>

                <div class="label">Issue Date</div>
                <div class="labeltxt">@app.IssueDate.ToString("dd-MMM-yyyy")</div>

                <div class="even">
                    <div class="label">Expiry Date</div>
                    <div class="labeltxt">@app.ExpiryDate.ToString("dd-MMM-yyyy")</div>
                </div>
            </div>
            <div class="adjust">
                <img class="photo" src="data:image;base64,@System.Convert.ToBase64String(applicant.Photo)" />
                <div class="phototxt">@applicant.Title @applicant.Surname.ToUpper(), @applicant.FirstNameUpper @applicant.MiddlenameUpper</div>
            </div>
            <div class="clear"></div>
            @if (!string.IsNullOrEmpty(app.EnrolledBy))
            {
                <div class="qcdiv">
                    <div class="spacetop"></div>
                    <div class="label">Enrolled By</div>
                    <div class="labeltxt">@app.EnrolledBy (@app.EnrolledByTime.DayOfWeek @app.EnrolledByTime.ToString("dd, MMM yyyy") at @app.EnrolledByTime.ToString("hh:mm tt"))</div>

                    <div class="even">
                        <div class="label">Approved By</div>
                        <div class="labeltxt">@app.ApprovedBy (@app.ApprovedByTime.DayOfWeek @app.ApprovedByTime.ToString("dd, MMM yyyy") at @app.ApprovedByTime.ToString("hh:mm tt"))</div>
                    </div>

                    <div class="label">Encoded By</div>
                    <div class="labeltxt">@app.EncodedBy (@app.EncodedByTime.DayOfWeek @app.EncodedByTime.ToString("dd, MMM yyyy") at @app.EncodedByTime.ToString("hh:mm tt"))</div>

                    <div class="even">
                        <div class="label">QC By</div>
                        <div class="labeltxt">@app.QCBy (@app.QCByTime.DayOfWeek @app.QCByTime.ToString("dd, MMM yyyy") at @app.QCByTime.ToString("hh:mm tt").ToUpper())</div>
                    </div>

                    <div class="label">Issued By</div>
                    <div class="labeltxt">@app.Issuedby (@app.IssuedbyTime.DayOfWeek @app.IssuedbyTime.ToString("dd, MMM yyyy") at @app.IssuedbyTime.ToString("hh:mm tt"))</div>

                    <div class="even">
                        <div class="label">Remarks</div>
                        <div class="labeltxt">@app.Remarks</div>
                    </div>
                </div>
            }
            <div class="statustext @(x == 0 ? "greenpass" : "redpass")">@(x == 0 ? "Current Booklet" : Model[x - 1].Applications[0].ApprString)</div>
        </div>
    </div>

    }}
</div>