﻿@using EPMS_Forensics_Entities

<link type="text/css" rel="stylesheet" href="~/Content/select2.css" />
<link type="text/css" rel="stylesheet" href="~/Content/jquery-ui.css" />
<link type="text/css" rel="stylesheet" href="~/Content/Investigator/investigator.css" />
<link type="text/css" rel="stylesheet" media="print" href="~/Content/Investigator/investigatorprint.css" />

<script src="~/Scripts/investigator/investigator.js"></script>
<script src="~/Scripts/master/jquery-ui-1.10.4.custom.min.js"></script>
<script src="~/Scripts/master/select2.full.js"></script>

<div class="groupbox">
    <div id="searchagain" class="hidden">
        <div class="button left searchagainbtn">Show Search</div>
        <div class="button left hidden showoptions prevsearchresults">Prev Search Results</div>
        <div id="showoptions" class="button left hidden showoptions">Show Options</div>
        <div class="clear"></div>
    </div>

    <div id="searchcriteria">
        <div id="searchbydiv">
            <div class="left label">Search by:</div>
            <div class="left">
                <select id="selectoptions" class="selectbox">
                    <option></option>
                    <option value="searchbyfingerprint">Fingerprint</option>
                </select>
            </div>
            <div class="button left clearbtn">Clear</div>
            <div class="clear"></div>
            <div class="spacedownx2"></div>
        </div>

        <div id="searchbyfingerprint" class="searchoption">
            <hr class="hrline" />
            <div class="button collectfingerbtn left">Collect Fingerprint</div>
            <div class="button searchfingerbtn left">Browse for Fingerprint</div>
            <form id="uploader" class="hidden">
                <input id="fileInput" onchange="SearchForFingerprint()" type="file" accept=".bmp, .wsq">
                <input type="submit" value="Upload file" />
            </form>
            <div id="fingerprintload" class="loadingdiv left">
                <div class="smallmodal"></div>
            </div>
            <div class="left searchingafis hidden">Searching AFIS (Depending on AFIS traffic, searches can take as much as 1 minute)</div>
            <div class="clear"></div>
            <div class="errormsg"></div>
        </div>
    </div>

    <div id="SearchResults" class="printable"></div>

    <div id="SelectedDetails"></div>

    <div class="PopupWindow" id="searchFunctions">
        <div class="closebtn">X</div>
        <div class="applicantselected left"></div>
        <div id="searchfunctionloading" class="loadingdiv left">
            <div class="smallmodal"></div>
        </div>
        <div class="clear"></div>

        @Html.Hidden("selectedid")
        @Html.Hidden("selectedformnos")
        <div onclick="DoApplicantFunction(1)" class="button functionoption">View Table Data</div>
        <div onclick="DoApplicantFunction(2)" class="button functionoption">View AFIS Transaction</div>
        <div onclick="DoApplicantFunction(3)" class="button functionoption">View Enrolment History</div>
        <div onclick="DoApplicantFunction(4)" class="button functionoption">View Booklet Page</div>
        <div onclick="DoApplicantFunction(5)" class="button functionoption">View Application Info</div>
    </div>
</div>
