﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iris Forensic Tools</title>
    <link rel="stylesheet" type="text/css" href="/Content/misc.css" />
    <link rel="stylesheet" type="text/css" href="/Content/masterpage.css" />  
    <script src="~/Scripts/master/jquery-1.10.2.js"></script>
      
</head>

<body>
    <div class="container">
        <header class="header">
            <div class="content-wrapper">
                <div class="imgwrapper1">
                    <div class="irislogo"></div>
                    <div class="coatofarms hidden"></div>
                </div>
                <div class="imgwrapper2">
                    <div class="title">EPMS Forensic Tools</div>
                </div>
                @if (User.Identity.IsAuthenticated && Session["CurrentUser"] != null)
                {
                    @Html.Partial("_LoginPartial")
                }
            </div>
        </header>
        <section class="content">
            <div class="content-body">
                <div id="content" class="table">
                    <div class="menudiv">
                        <div><a href="/" class="option shadow optionactive">Home</a></div>
                        @if (User.Identity.IsAuthenticated && Session["CurrentUser"] != null)
                        {
                            <div><a href="/Investigator" id="appinvoption" class="option shadow">Application Investigator</a></div>
                        }
                        @if (Session["CurrentUser"] != null && ((Session["CurrentUser"] as EPMS_Forensics_Entities.Person).PersonId == 228 ||
                            (Session["CurrentUser"] as EPMS_Forensics_Entities.Person).PersonId == 68 ||
                             (Session["CurrentUser"] as EPMS_Forensics_Entities.Person).PersonId == 1))
                        {
                            <div><a href="/Report" id="apprepoption" class="option shadow">Generate Report</a></div>
                        }
                    </div>

                    <div class="middle">
                        @RenderBody()
                    </div>

                    @Html.Hidden("Msg", (string)ViewBag.Msg)
                    <div id="PopupMsg" class="PopupWindow">
                        <div class="closebtn">X</div>
                        <div id="popupmsgInner" class="popupinfoinner"></div>
                    </div>
                </div>
            </div>
        </section>



        <div id="printable" class="hidden">
            <div id="branchReportDiv"></div>
        </div>

        <footer class="footer">
            <div class="footertext">Iris Smart Technologies Limited - @(DateTime.Now.ToString("yyyy"))</div>
        </footer>
    </div>
</body>

@RenderSection("scripts", required: false)
</html>

<script src="~/Scripts/master/master.js"></script>
<script src="~/Scripts/master/jquery.lightbox_me.js"></script>
@Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/master/hoverintent.js"></script>

