﻿@Html.AntiForgeryToken()
<div id="divLoggedIn" class="DisplayLogin loggedIn">
    <div class="accountoptions right">
        <ul id="menu">
            <li class="menuitem">
                <div class="setupbtn"></div>
                <div class="submenu outersub">
                    <div class="ssmenu">
                        <div>
                            <div class="switchtheme">Switch Theme</div>
                        </div>
                    </div>
                    @if (true)//((Session["CurrentUser"] as EPMS_Forensics_Entities.Person).Surname.ToLower() == "lawson")
                    {
                        @Html.Hidden("toggleqc")
                        <div class="toggleqc">Hide Audit</div>
                    }
                    <div class="ssmenu">
                        <div>
                            @using (Html.BeginForm("LogOut", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                            {
                                @Html.AntiForgeryToken()
                                <input class="signoutBtn" type="submit" value="Sign Out" id="btnSignOut" />
                            }
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div id="txtLoginTextfo" class="right">@((Session["CurrentUser"] as EPMS_Forensics_Entities.Person).FullName)</div>
    <div class="clear"></div>
</div>
