﻿/* Search Results */
@font-face {
    font-family: 'ocrbregular';
    src: url('/fonts/ocrb_regular-webfont.woff2') format('woff2'),
         url('/fonts/ocrb_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.searchbtn
{
    margin: 15px 0px 10px 140px;
}

.searchagainbtn
{
    width: 85px;
    margin-bottom: 10px;
    line-height: 32px;
}

.prevsearchresults
{
    margin-bottom: 10px;
    line-height: 32px;
}

.searchresultintro
{
    font-size: 15px;
}

.clearbtn
{
        margin: 1px 0px 0px 20px;
    height: 28px;
    line-height: 28px;
}

.searchresultintrozero
{
    margin: 20px 0px 0px 140px;
    font-size: 16px;
    padding-bottom: 0px !important;
}

.width100
{
    width: 100px !important;
}

.width105 {
    width: 105px !important;
}

.errormsg {
    color: red;
    margin: 0px 0px 0px 140px;
}

.red
{
    color: red;
}

.navy
{
    color: #005180;
}

.tablediv div
{
    text-align: left;
}

.serialno
{
    width: 30px;
    padding:  0px 5px;
}

#searchbydiv
{
    padding-top: 10px;
}

.collectfingerbtn
{
    width: 150px;
    line-height: 34px;
    margin: 0px 30px 10px 5px;
}

.searchfingerbtn
{
    width: 150px;
    line-height: 34px;
    margin: 0px 0px 10px 5px;
}

.searchingafis
{
    color: #005180;
    line-height: 35px;
    font-size: 15px;
}

.applicantinfo
{
    
}

.appcounts
{
    width: 60px;
    padding: 0px 5px;
}

.appdob
{
    width: 130px;
    padding: 0px 5px;
}

.appformno
{
    width: 130px;
    padding: 0px 5px;
}

.apptype
{
    width: 50px;
    padding: 0px 5px;
}

.functionoption
{
    margin-bottom: 15px;
    width: 100%;
    line-height: 40px;
    border: 1px solid #ccc;
    height: 40px;
    font-size: 16px;
    padding: 0px !important;
}

.searchFunctions
{
    padding: 20px;
}

.applicantselection:hover
{
    cursor: pointer;
    background-color: #81A9DE;
    color: white;
}

#searchFunctions
{
    width: 300px;
}

#searchfunctionloading
{
    margin: -5px 7px 10px 10px;
}

.applicantselected
{
    font-weight: bold;
}


/* Applicants Data */
.leftside
{
    margin-right: 15px;
    border: 1px solid #ccc;
    padding: 15px;
    box-sizing: border-box;
}

.rightside
{
    border: 1px solid #ccc;
    padding: 15px;
    box-sizing: border-box;
    min-width: 515px;
}

.leftside .label
{
    width: 110px;
}

.rightside .label
{
    width: 80px;
}

.contentbox
{
    box-sizing: content-box;
    width: 45%;
}

.spaceright
{
    margin-right: 10px;
}

.refreshbtn
{
    width: 56px;
    line-height: 35px;
    font-size: 15px;
    background: url(/Images/refreshimg2.png) no-repeat #8D2136;
    background-position: right 3px center;
    padding-left: 10px !important;
}

.photo
{
    border: 1px solid #ccc;
}

.phototxt
{
    text-align: center;
    color: #005180;
}

.labeltitle
{
    color: white;
    background-color: #005180;
    margin: 10px 0px 0px 0px;
    padding: 4px 10px 4px 10px;
    font-size: 15px;
}

.statustext
{
    position: absolute;
    left: 28%;
    bottom: 15px;
    font-size: 20px;
    padding: 5px 20px;
    color: white;
}

.labeltitle2
{
    font-weight: bold;
    margin: 15px 0px 5px 0px;
    text-align: center;
}

.labeltitle3
{
    color: white;
    background-color: #005180;
    margin: 0px 0px 0px 0px;
    padding: 4px 10px 4px 10px;
    font-size: 15px;
}

.apprinfo
{
    color: white;
    padding: 9px 0px 10px 0px;
    text-align: center;
    margin-bottom: 15px;
}

.greenpass
{
    background-color: #326732;
}

.redpass
{
    background-color: red;
}

.greentxt
{
    color: #326732;
}

.redtxt
{
    color: red;
}

.apprinfo div
{
    margin: 0px auto;
    font-size: 17px;
    font-weight: bold;
}

.applicationtype
{
    text-align: center;
    position: absolute;
    top: 190px;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
}

.adjust
{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    min-width: 250px;
}

.nextprevdiv
{
    margin: -5px 0px 5px 0px;
}

.prev, .next
{
    height: 30px;
    margin-right: 10px;
}

.countinfo
{
    margin-right: 10px;
    line-height: 30px;
}

.showoptions
{
    line-height: 31px;
    margin-left: 30px;
}


/*View Booklet-page*/
.printbtn {
    margin: -40px 10px 20px 0px;
    height: 30px;
}

.printall
{
    margin-right: 55px !important;
}

.emptypassport
{
    width: 480px;
    height: 612px;
    margin: 5px 10px 10px 0px;
    background: url(/Images/emptypassport.jpg) no-repeat;
    display: inline-block;
    position: relative;
    font-family: serif;
}

.frn
{
    position: absolute;
    top: 247px;
    text-align: center;
    width: 100%;
    font-weight: bold;
    font-size: 17px;
}

.passportdata
{
    position: absolute;
    top: 265px;
    padding: 10px;
}

.passportnumber
{
    position: absolute;
    color: #333;
    right: 0px;
    top: 79px;
    font-weight: bold;
    font-size: 21px;
}

.rotate {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);

  /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;

  /* Should be unset in IE9+ I think. */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.passportpic
{
    font-size: 11px;
    text-align: center;
    width: 140px;
    display: inline-block;
    vertical-align: top;
}

.passportpic img
{
    width: 133px;
}

.passportdatainfo
{
    width: 315px;
    display: inline-block;
    vertical-align: top;
}

.passportdatainfo .labeltxt
{
    padding-left: 0px;
    padding-bottom: 2px;
    line-height: 21px;
}

.passporttitleita
{
    font-style: italic;
    margin-bottom: 10px;
}

.lillabel
{
    font-size: 10px;
}

.passportspace
{
    margin-right: 30px;
}

.passportspace3
{
    margin-left: 20px;
}

.leftbit
{
    width: 140px;
}   

.rightbit
{
    width: 170px;
}

.signature
{
    width: 140px;
    margin-top: 5px;
}

.ocr
{
    font-family: 'ocrbregular';
    font-size: 14px;
    letter-spacing: 2px;
    width: 460px;
    overflow: hidden;
    margin-top: 7px;
}

.ocr1
{
    margin-bottom: 5px;
}


/*Enrolement History*/
.tenpercent div
{
    min-width: 100px;
}

.enrolday
{
    width: 10% !important;
}

.enroltime
{
}

.formno, .queryno
{
    min-width: 100px !important;
}

.docno
{
    
}

.appr
{
    width: 50px !important;
}

.olddocno
{

}

.stagedescription
{
    width: 13% !important;
}

.remarks
{
    width: 13% !important;
}

/* Afis transactions */
.fifteenpercent div
{
    width: 10%;
    min-width: 120px;
}

.bigformno
{
    font-size: 17px;
    margin: 0px 0px 10px 0px;
    color: #005180;
}

/* summary stuff */
.bigformnosummary
{
    font-size: 17px;
    margin: -25px 0px 15px 5px;
    color: #005180;
}

.bigformsummary
{
    font-size: 17px;
    margin: 7px 0px 7px 5px;
    color: #005180;
}

.groupboxsummary
{
    padding: 5px;
    background-color: white;
    border: 1px solid #e3e3e3;
    margin: 5px 5px 5px 0px;
    min-height: 255px;
}

.groupboxsummary .label
{
    width: 100px !important;
}

.sectiontitle
{
    font-weight: bold;
    font-size: 15px;
    padding: 0px 0px 0px 5px;
}

.asection
{
    width: 33%;
    display: table-cell;
    vertical-align: top;
    min-height: 300px;
}

.borderspacing5
{
    border-spacing: 5px;
}

.centeredmsg
{
    text-align: center;
    line-height: 255px;
    font-size: 21px;
    color: #005180;
}

.centeredmsg2
{
    text-align: center;
    line-height: 100px;
    font-size: 21px;
    color: #005180;
}

/* Trace booklet */
.bookletstuff
{
    border-bottom: 1px solid white;
}

.bookletstuff .month, .bookletstuff .boxsn
{
    min-width: 90px !important;
}

.bookletstuff .chpsn
{
    width: 130px !important;
}

.entrytime, .transfert
{
    width: 145px;
}

.bookletstuff .typ
{
    min-width: 110px;
}

.bookletreplaced
{
    background-color: rgba(255, 0, 0, 0.82);
    color: white;
} 

.validbooklet
{
    background-color: rgba(3, 111, 46, 0.78);
    color: white;
}

.senttobranch
{
    background-color: #69DAE7;
    color: black;
}

.documentarrived
{
    background-color: pink;
    color: white;
}

.hostupdate1
{
    background-color: #9ABDCB;
    color: white;
}

.hostupdate2
{
    background-color: #CFD830;;
    color: white;
}

.bigheader 
{
    font-size: 19px;
    padding: 10px 0px 0px 5px;
}

.label140 .label
{
    width: 140px !important;
}

.sn
{
    width: 30px !important;
}

.bookletstuff .tracedocno, bookletstuff .boxsn
{
    width: 100px !important;
}

bookletstuff .typ
{
    width: 80px !important;
}

bookletstuff .month
{
    width: 80px !important;
}

.rightarrow
{
    font-weight: bold;
    text-align: right !important;
}

.bigheader .spacetop
{
    margin-top: 20px !important;
}

.legend { list-style: none; }
.legend li { float: left; margin-right: 10px; }
.legend span { border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 2px; }



.messagewrap
{
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    margin-left: 30px;
    color: #ff0000;
    margin-bottom: 10px;
}

.message
{
    font-size: 14px;
}

span.select2-selection__clear {
    margin-top: -2px;
    font-size: 17px;
    color: red;
}