﻿/* alternative theme */
 .pptheme *
 { 
     outline-color: #2F7144;
 } 

.pptheme footer 
{
    border-top: 1px solid #ccc;
    height: 37px; 
    background-color: #f4f4f4;
    display: table;
    width: 100%;
}

.pptheme .footertext {
    color: #2D6D42;
}

.pptheme .switchtheme
{
    color: #2F7144;
}

.pptheme .switchtheme:hover
{
    color: white;
}

.pptheme .irislogo
{
    display: none;
}

.pptheme .coatofarms
{
    display: block;
    margin-left: 85px;
}

.pptheme .wellcomemessage
{
    display: none;
}

.pptheme .welcomeimg
{
    display: table;
}

.pptheme .middle
{
    background-image: url(/images/bg2.jpg);
}

.pptheme .tableheader, .pptheme .labeltitle, .pptheme .labeltitle3
{
    background-color: #2F7144;
}

.title2
{
    font-size: 58px;
    text-align: center;
    font-weight: bold;
    font-family: IrisUPC;
    color: darkgreen;
    padding: 0px 30px 0px 0px;
}

.title2 a
{
    color: #369;
    text-decoration: none;  
}

.pptheme .button
{
    background-color: #2F7144;
}

.pptheme .option
{
    background-color: #f4f4f4;
    color: #2F7144;
}

.pptheme .optionactive
{
    background-color: #2F7144;
    color: white;
}

.pptheme .header
{
    background-image: none;
    border-bottom: 3px solid #2F7144;
}

.pptheme .header:after
{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../images/bg6.jpg);
    width: 100%;
    height: 100%;
    opacity: 0.3;
    z-index: -1;
}

.pptheme .setupbtn
{
    background: url(/images/settingsicon.png) no-repeat 0px 1px;
}

.pptheme .ssmenu a
{
    color: #2F7144;
}

.pptheme .ssmenu:hover
{
    background-color: #2F7144;
}

.pptheme #menu .ssmenu:hover
{
    background-color: #2F7144;
}

.pptheme .submenu .ssmenu a, .ssmenu input
{
    color: #2F7144;
}

.pptheme .signoutBtn
{
    background-color: transparent;
    color: #2F7144;
}

.pptheme .signoutBtn:hover
{
    color: White;
    opacity: 1;
}
/* Body */
 *
 { 
     outline-color: #CCC;
 }
 
 html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.table
{
    display: table;
    vertical-align: top;
    width: 100%;
    height: 100%;
}


 body { min-width : 960px }

.container { display: table; width: 100%; height: 100%; }
.content { display: table-row; height: 100%; background: none repeat scroll 0 0 #f4f4f4;}
.content-body { display: table-cell; }

html 
{    
    color: #333;
    font-size: .85em;
    font-family: 'Segoe UI';
    min-width: 980px;
}

.content-wrapper
{
    position: relative;
    display: table;
    width: 100%;
}

footer 
{
    border-top: 1px solid #ccc;
    height: 37px; 
    background-color: #f4f4f4;
    display: table;
    width: 100%;
    background: url(/images/bg.jpg); 
}

.footertext {
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    color: #8D2136;
    font-weight:bold;
    padding-left: 155px;
}

.header
{
    border-bottom: 2px solid #ccc;
    border-top: 2px solid #ccc;
    width: 100%;
    position: relative;
    z-index: 999;
    background-image: url(../images/bg.jpg);
}

/* header/footer */
.imgwrapper1
{
    width: 15%;
    padding: 5px 0px;
    display:table-cell;
    vertical-align: middle;
}

.imgwrapper2
{
    width: auto;
    display:table-cell;
    vertical-align: middle;
}

.coatofarms
{
    background: url(../images/coatofarms.png);
    background-size: cover;
    margin-left: 55px;
    width: 70px;
    height: 60px;
}

.title
{
    font-size: 45px;
    text-align: center;
    font-weight: bold;
    font-family: IrisUPC;
    padding-right: 100px;
}

.flag
{
    background: url(../images/flag.png);
    width: 121px;
    height: 55px;
    margin: auto;
    background-size: cover;
}

.irislogo
{
    background: url(/images/irislogo.png);  
    width: 89px;
    height: 60px; 
    margin: 0px 0px 0px 80px;
    float: left;
    cursor: pointer;
}

.irislogosmall
{
    background: url(/images/irislogosmall.png);  
    width: 60px;
    height: 40px; 
    margin: 5px 10px 0px 48px;
    cursor: pointer;
}


/* Login Bar */

#divLoggedIn
{
    right: 10px;
    top: 10px;
    min-width: 107px;
    position: absolute;
    border-bottom: 2px solid #ccc;
    cursor: pointer;
}

.switchtheme, .toggleqc
{
    color: #8D2136;
    font-size: 13px;
}

.switchtheme:hover, .toggleqc:hover
{
    color: white;
    background-color: #8D2136;
}

.setupbtn
{
    width: 20px;
    height: 21px;
    background: url(/images/setup2.png) no-repeat 0px 1px;
    margin-left: 4px;
    border: none;
    margin-top: 1px;
    cursor: pointer;
}

.signoutBtn
{
    width:  100%;
    line-height: 25px;
    padding: 0px;
    margin: 0px;
    background-color: transparent;
    text-align:center;
    color: #2F7144;
    border: none;
    cursor: pointer;
    outline: 0;
    outline: none;
}

.signoutBtn:hover
{
    color: White;
    opacity: 1;
}

.closebtn:hover
{
    opacity: 0.7;
}

#menu li.menuitem:hover
{
    opacity: 0.9;
    background-color: white;
}

#menu
{
    list-style-type: none;
    position: relative;
    padding: 0px;
    margin: -1px 0px 0px 2px;    
}

#menu li.menuitem
{
    height: 22px;
    width: 30px;
    text-align: center;
    color: #f4f4f4;
    line-height: 25px;
    float: left;
    cursor: pointer;
    margin-left: 2px;    
}

.ssmenu
{
    height: 25px;
    line-height: 25px;
    width: 100%;
    display: inline-block;
    position: relative;
    margin-bottom: -8px
}

.ssmenu a
{
    height: 25px;
    color: #8D2136;
    line-height: 25px;
    width: 100%;
    display: inline-block;
    text-decoration: none;
}

.ssmenu a:hover, .ssmenu input:hover
{
    color: white !important;
}

#menu li.menuitem a
{
    text-decoration: none !important;
}

.submenu
{
    background-color: white;
    display: none;
    position: relative;
    font-size: 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.ssmenu:hover
{
    background-color: #8D2136;
    color: #f4f4f4;
}

#menu .ssmenu:hover
{
    background-color: #8D2136;
}

.submenu .ssmenu a, .ssmenu input
{
    color: #8D2136;
}

/* left middle right bars*/

.menudiv
{
    width:15%;
    box-sizing: border-box;
    display:table-cell;
    vertical-align: top;
    height: 100%;
    padding: 5px 7px 0px 7px;
    border-right: 1px solid #ccc;
    background-color: white;
    min-width: 180px;
}

.middle
{
    width: auto;
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box;
    display:table-cell;
    vertical-align: top;
    height: 100%;
    min-width: 960px;
}

.outertable {
    height: 100%;
    width: 100%;
    display: none;
    text-align: center;
    padding-bottom: 51px;
}

.option
{
    display: inline-block;
    width: 100%;
    text-align: center;
    background-color: #f4f4f4;
    color: #8D2136;
    padding: 7px 0px;
    text-decoration: none;
    margin: 0px 0px 10px 0px;
}

.option:hover
{
    opacity: 0.7;
}

.optionactive
{
    background-color: #8D2136;
    color: white;
}
/* Spread out over all the pages */
.closebtn
{
    position: absolute;
    top: 7px;
    right: 7px;
    background-color: #d2322d;
    color: White;
    font-size: 10px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    cursor: pointer;   
    border-radius: 4px 4px 4px 4px; 
    -moz-border-radius: 4px 4px 4px 4px; 
    -webkit-border-radius: 4px 4px 4px 4px; 
	-khtml-border-radius:  4px 4px 4px 4px; 
}

.PopupWindow
{
    padding: 20px 35px 25px 25px;
    overflow: auto; 
    background-color: White; 
    display:none;  
    font-size: 15px;
    max-width: 900px;
    position:relative;
    -khtml-border-radius:  5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px; 
    -webkit-border-radius: 5px 5px 5px 5px; 
    border-radius: 5px 5px 5px 5px;  
    overflow-x: hidden;
    max-height: 600px;
}

.welcomeimg
{
    background: url(/images/immigrationimg.png) no-repeat;
    background-position: right bottom;
    
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #f4f4f4 inset;
}

.popupinfoinner 
{
    min-width: 300px;
    text-align: center;
}

.popupinfoinner:first-letter
{
    font-size: 22px;
    color: #8D2136;
}

.wellcomemessage
{
    font-size: 30px;
    margin: 10px 0px 10px -100px;
    text-align: center;
}

.wellcomemessage:first-letter
{
    font-size: 40px;
    color: #8D2136;
}

.spaceright
{
    margin-right: 20px;
}

.spacetopbot
{
    margin: 10px 0px;
}