﻿@model EPMS_Forensics.Models.LoginViewModel
<link type="text/css" rel="stylesheet" href="~/Content/homepage.css" />
<script type="text/javascript" src="~/Scripts/Homepage/homepage.js"></script>

<div class="shiftleftabit">
    @using (Html.BeginForm("Login", "Account", new { returnUrl = Request.Path }))
    {
        @Html.AntiForgeryToken()
        <div>
            <div class="loginheader">Login</div>
            <div class="loginsquare shadow">
                <div class="txtdiv shadow">
                    @Html.TextBoxFor(model => model.Email, new { maxval = 45, @class = "loginbox", placeholder = "Your Iris email" })
                </div>
                <div class="validationMessage">@Html.ValidationMessageFor(model => model.Email)</div>
                <div class="txtspace"></div>
                <div class="txtdiv shadow">
                    @Html.PasswordFor(model => model.Password, new { maxval = 15, @class = "loginbox", placeholder = "Enter your password" })
                </div>
                <div class="validationMessage">@Html.ValidationMessageFor(model => model.Password)</div>
                <div class="txtspace"></div>
                <div class="forgottenpw left">Forgot your password?</div>
                <div class="clear"></div>

                @Html.ValidationSummary(true)
                
                <div class="register left">Register</div>
                <input class="button right" id="btnLogin" type="submit" value="Sign In" />
                <div class="clear"></div>
            </div>
        </div>
    }
</div>

@if (ViewBag.ShowUpdatePassword == 1)
{ 
    <div class="PopupWindow" id="updatePasswort">
        <div class="closebtn closeme">X</div>
        <form method="post" action="@Url.Action("UpdateForgottenPassword", "Account")" data-update="true">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => Model.ResetPassword.Guid, new { @Value = (string)ViewBag.Guid })
            <div class="regheader">Reset Your Password</div>
            @Html.PasswordFor(m => Model.ResetPassword.Password, new { maxval = 30, autocomplete = "off", placeholder = "Enter new password", @class = "registerbox left" })
            @Html.PasswordFor(m => Model.ResetPassword.ConfirmPassword, new { maxval = 30, autocomplete = "off", placeholder = "Confirm password", @class = "registerbox regspace left" })
            <div class="clear"></div>
            <div class="validationMessage left width260">@Html.ValidationMessageFor(model => Model.ResetPassword.Password)</div>
            <div class="validationMessage left">@Html.ValidationMessageFor(model => Model.ResetPassword.ConfirmPassword)</div>
            <div class="clear"></div>

            @Html.ValidationSummary(true)
            <div class="errormsg spacetopmx2"></div>
            <input type="submit" class="left spacetop button" value="Submit" />
            <div class="loadingdiv left">
                <div class="smallmodal"></div>
            </div>
            <div class="clear"></div>
        </form>
    </div>
    
    <script type="text/javascript">
        $(document).ready(function () {
            $('#updatePasswort').lightbox_me({
                centered: true
            });
        });
    </script>
}

<div class="PopupWindow" id="ForgotPassword">
    <div class="closebtn closeme">X</div>
    <form method="post" action="@Url.Action("ResetUserPassword", "Account")" data-update="true">
        @Html.AntiForgeryToken()
        <div class="regheader">Can't remember your password?</div>
        <div class="spacedownm">We'll send you a link to reset it. Just enter your email below:</div>
        <div>
            @Html.TextBox("email", null, new { @class = "registerbox left" })
            <input type="submit" class="left resetpwbtn button" value="Reset Password" />
            <div class="loadingdiv spacetopm left">
                <div class="smallmodal"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="errormsg"></div>
    </form>
</div>

<div id="registrationDiv" class="PopupWindow">
    <div class="closebtn closeme">X</div>
    <div id="registerDiv">
        <form method="post" action="@Url.Action("Register", "Account")" data-update="true">
            @Html.AntiForgeryToken()
            <div class="regheader">Iris User Registration</div>

            @Html.TextBoxFor(m => Model.Register.FirstName, new { maxval = 30, autocomplete = "off", placeholder = "First name", @class = "registerbox left" })
            @Html.TextBoxFor(m => Model.Register.Surname, new { maxval = 30, autocomplete = "off", placeholder = "Surname", @class = "registerbox regspace left" })
            <div class="clear"></div>
            <div class="validationMessage left width260">@Html.ValidationMessageFor(model => Model.Register.FirstName)</div>
            <div class="validationMessage left">@Html.ValidationMessageFor(model => Model.Register.Surname)</div>
            <div class="clear"></div>

            @Html.TextBoxFor(m => Model.Register.PhoneNumber, new { maxval = 30, autocomplete = "off", placeholder = "Phone number", @class = "registerbox left" })
            <div class="clear"></div>
            <div class="validationMessage">@Html.ValidationMessageFor(model => Model.Register.PhoneNumber)</div>

            @Html.TextBoxFor(m => Model.Register.Email, new { maxval = 30, autocomplete = "off", placeholder = "Email Address", @class = "registerbox left" })
            <div class="left atiris">@@ irissmart.com</div>
            <div class="clear"></div>
            <div class="validationMessage">@Html.ValidationMessageFor(model => Model.Register.Email)</div>

            @Html.TextBoxFor(m => Model.Register.ConfirmEmail, new { maxval = 30, autocomplete = "off", placeholder = "Confirm Email", @class = "registerbox left" })
            <div class="left atiris">@@ irissmart.com</div>
            <div class="clear"></div>
            <div class="validationMessage">@Html.ValidationMessageFor(model => Model.Register.ConfirmEmail)</div>

            @Html.PasswordFor(m => Model.Register.Password, new { maxval = 30, autocomplete = "off", placeholder = "Create your password", @class = "registerbox left" })
            @Html.PasswordFor(m => Model.Register.ConfirmPassword, new { maxval = 30, autocomplete = "off", placeholder = "Confirm password", @class = "registerbox regspace left" })
            <div class="clear"></div>
            <div class="validationMessage left width260">@Html.ValidationMessageFor(model => Model.Register.Password)</div>
            <div class="validationMessage left">@Html.ValidationMessageFor(model => Model.Register.ConfirmPassword)</div>
            <div class="clear"></div>

            @Html.ValidationSummary(true)
            <div class="errormsg spacetopmx2"></div>
            <input type="submit" class="left spacetop button" value="Submit" />
            <div class="loadingdiv left">
                <div class="smallmodal"></div>
            </div>
            <div class="clear"></div>
        </form>
    </div>
</div>