﻿@if (User.Identity.IsAuthenticated && Session["CurrentUser"] != null)
{
    <div class="wellcomemessage bigfirstletter">
        Welcome @((Session["CurrentUser"] as EPMS_Forensics_Entities.Person).FirstNameUpper)!
    </div>
    <div class="outertable welcomeimg">
        <div class="title2 welcome">Welcome to the Iris Forensic Tools Application @((Session["CurrentUser"] as EPMS_Forensics_Entities.Person).FirstNameUpper)!</div>
    </div>
}
else
{
    @Html.Partial("~/Views/Account/Login.cshtml", new Airport_Forensics.Models.LoginViewModel())
}