﻿@model List<EPMS_Forensics_Entities.Person>

<div class="searchresultintro spacedownx2">
    @(Model.Count == 1 ? "There is" : "There are") <b class="@(Model.Count == 0 ? "red" : "navy")">
    @(Model.Count)
</b> applicant@(Model.Count == 1 ? "" : "s") that match@(Model.Count == 1 ? "es" : "") your search criteria.
</div>

@if (Model.Count != 0)
{
    <div class="bigheader spacetop">Blacklist Details for <b>@Model[0].Applications[0].DocumentNo</b></div>
    <hr class="hrline" />

    <div class="">
        <div class="label left">Firstname:</div>
        <div class="labeltxt left">@Model[0].FirstNameUpper</div>
        <div class="clear"></div>

        <div class="even">
            <div class="label left">Surname:</div>
            <div class="labeltxt left">@Model[0].SurnameUpper</div>
            <div class="clear"></div>
        </div>

        <div class="label left">Gender:</div>
        <div class="labeltxt left">@(Model[0].Gender == "M" ? "Male" : "Female")</div>
        <div class="clear"></div>

        <div class="even">
            <div class="label left">Date Of Birth:</div>
            <div class="labeltxt left">@Model[0].DOB.ToString("dd-MMM-yyyy")</div>
            <div class="clear"></div>
        </div>

        <div class="label left">Place Of Birth:</div>
        <div class="labeltxt left">@Model[0].PlaceOfBirth</div>
        <div class="clear"></div>

        <div class="even">
            <div class="label left">Reason:</div>
            <div class="labeltxt left firstcapitalise">@Model[0].Applications[0].StageDescription</div>
            <div class="clear"></div>
        </div>

        <div class="label left">Remarks:</div>
        <div class="labeltxt left firstcapitalise">@Model[0].Applications[0].Remarks</div>
        <div class="clear"></div>

        <div class="even">
            <div class="label left">Entry Date:</div>
            <div class="labeltxt left">@Model[0].Applications[0].EnrolDate.ToString("dd/MM/yyyy hh:mm tt").ToLower())</div>
            <div class="clear"></div>
        </div>

        <div class="label left">Last Update:</div>
        <div class="labeltxt left">@Model[0].Applications[0].ExpiryDate.ToString("dd/MM/yyyy hh:mm tt").ToLower())</div>
        <div class="clear"></div>

        <div class="even">
            <div class="label left">Effective Date:</div>
            <div class="labeltxt left">@Model[0].Applications[0].IssueDate.ToString("dd/MM/yyyy hh:mm tt").ToLower())</div>
            <div class="clear"></div>
        </div>
    </div>
}
