﻿@model EPMS_Forensics.Models.Investigator.SearchResults

<div class="searchresultintro spacedownx2">@(Model.Applicants.Count == 1 ? "There is" : "There are") <b class="@(Model.Applicants.Count == 0 ? "red" : "navy")">
@(Model.Applicants.Count)</b> applicant@(Model.Applicants.Count == 1 ? "" : "s") that match@(Model.Applicants.Count == 1 ? "es" : "") your search criteria.</div>

@if (Model.Applicants.Count != 0)
{ 
    <div class="table shadow">
        <div class="tablediv">
            <div class="tableheader">
                <div class="serialno">S/N</div>
                <div class="applicantinfo">Applicant Information (S/F/M)</div>
                <div class="appdob">Gender</div>
                <div class="appcounts">Counts</div>
                <div class="appdob">DOB</div>
                <div class="appformno">IdPerson</div>
            </div>

            @for(int x = 1; x < Model.Applicants.Count + 1; x++)
            {
                EPMS_Forensics_Entities.Person applicant = Model.Applicants[x - 1];
                <div id="@(applicant.IdPerson)" class="applicantselection @(x % 2 == 0 ? "even" : "")">
                    @Html.Hidden("formno", @String.Join(",", applicant.FormNoList.ToArray()))
                    <div class="serialno">@(x)</div>
                    <div class="applicantinfo">@applicant.SurnameUpper @applicant.FirstNameUpper @applicant.MiddlenameUpper</div>
                    <div class="appdob">@applicant.Gender</div>
                    <div class="appcounts">@applicant.FormNoList.Count</div>
                    <div class="appdob">@(applicant.DOB == DateTime.MinValue ? "Pending" : applicant.DOB.ToString("dd/MM/yyyy"))</div>
                    <div class="appformno">@applicant.IdPerson</div>
                </div>
            }
        </div>
    </div>
}
