﻿@using EPMS_Forensics_Entities

<link type="text/css" rel="stylesheet" href="~/Content/select2.css" />
<link type="text/css" rel="stylesheet" href="~/Content/jquery-ui.css" />
<link type="text/css" rel="stylesheet" href="~/Content/Investigator/investigator.css" />
<link type="text/css" rel="stylesheet" media="print" href="~/Content/Investigator/investigatorprint.css" />

<script src="~/Scripts/investigator/investigator.js"></script>
<script src="~/Scripts/master/jquery-ui-1.10.4.custom.min.js"></script>
<script src="~/Scripts/master/select2.full.js"></script>

<div class="groupbox">
    <div id="searchagain" class="hidden">
        <div class="button left searchagainbtn">Show Search</div>
        <div class="button left hidden showoptions prevsearchresults">Prev Search Results</div>
        <div id="showoptions" class="button left hidden showoptions">Show Options</div>
        <div class="clear"></div>
    </div>

    <div id="searchcriteria">
        <div id="searchbydiv">
            <div class="left label">Search by:</div>
            <div class="left">
                <select id="selectoptions" class="selectbox">
                    <option></option>
                    @* An Exception for the dashboards. Since we are keeping it permanently logged in, we have to prevent people for using it to do any verifications other than fingerprint *@
                    @if (Session["CurrentUser"] != null && (Session["CurrentUser"] as EPMS_Forensics_Entities.Person).PersonId == 169)
                    {
                         <option value="searchbyfingerprint">Fingerprint</option>
                    }
                    // Another exception for the CGI
                    @*else if (Session["CurrentUser"] != null && ((Session["CurrentUser"] as EPMS_Forensics_Entities.Person).PersonId == 228 || (Session["CurrentUser"] as EPMS_Forensics_Entities.Person).PersonId == 68))
                    {
                        <option value="searchbyfingerprint">Fingerprint Search</option>
                    }*@
                    else
                    {
                        <option value="searchbymember">Applicant details</option>
                        <option value="searchbyapplication">Application details</option>
                        <option value="searchbyfingerprint">Fingerprint</option>
                        <option value="searchbybooklet">Trace Booklet</option>
                        <option value="searchblacklist">Blacklist</option>
                    }
                </select>
            </div>
            <div class="button left clearbtn">Clear</div>
            <div class="clear"></div>
            <div class="spacedownx2"></div>
        </div>

        @* An Exception for the dashboards. Since we are keeping it permanently logged in, we have to prevent people for using it to do any verifications other than fingerprint *@
        @if (Session["CurrentUser"] != null && (Session["CurrentUser"] as EPMS_Forensics_Entities.Person).Firstname != "IRIS" && (Session["CurrentUser"] as EPMS_Forensics_Entities.Person).Surname != "DASHBOARDS")
        {
            <div id="searchbymember" class="searchoption">
                <hr class="hrline" />
                <div class="messagewrap">
                    @*<div class="message">Please note that all searches done on this tab will henceforth require at least <b>one part of the name</b> and the <b>gender</b> before it can run.</div>*@
                    @*<div class="message">Temporarily disabled while work being done</div>*@
                    <div class="message">Please enter at least <b>TWO</b> variables to search</div>
                </div>
                <form method="post" action="@Url.Action("SearchByName", "Investigator")" data-partial="true" data-investigator-search="true" data-target="SearchResults">
                    <div class="left label">Surname</div>
                    @Html.TextBox("surname", null, new { @class = "left textbox" })
                    <div class="clear"></div>

                    <div class="left label">Firstname</div>
                    @Html.TextBox("firstname", null, new { @class = "left textbox" })
                    <div class="clear"></div>

                    <div class="left label">Middlename</div>
                    @Html.TextBox("middlename", null, new { @class = "left textbox" })
                    <div class="clear"></div>

                    @*<div class="spacetopbot">
                        <div class="left label">Gender</div>
                        <div class="left">
                            @Html.Hidden("sex")
                            <select id="selectgender" class="selectbox">
                                <option></option>
                                <option value="M">Male</option>
                                <option value="F">Female</option>
                            </select>
                        </div>
                        <div class="clear"></div>
                    </div>*@

                    <div class="left label">Date Of Birth</div>
                    @Html.TextBox("dob", null, new { @class = "left jdpicker lasttextbox", style = "margin", placeholder = "DD/MM/YYYY" })
                    <div class="clear"></div>
                    
                    @*<div class="spacetop">
                        <div class="left label">Min Age</div>
                        @Html.TextBox("min", null, new { @class = "left textbox spaceright" })
                    </div>

                    <div class="left label">Max Age</div>
                    @Html.TextBox("max", null, new { @class = "left textbox" })
                    <div class="clear"></div>

                     <div class="">
                        <div class="left label">State of Origin</div>
                        <div class="left">
                            @Html.Hidden("state")
                            <select id="stateoforigin" class="selectbox">
                                <option></option>
                                @foreach (State state in ViewBag.States)
                                {
                                    <option value="@state.Name">@state.Name</option>
                                }
                            </select>
                        </div>
                        <div class="clear"></div>
                    </div>*@
                    <div class="searchbtn">
                        <input type="submit" class="left spacetop button" value="Submit" />
                        <div class="loadingdiv left">
                            <div class="smallmodal"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="errormsg"></div>
                </form>
            </div>

            <div id="searchbyapplication" class="searchoption">
                <hr class="hrline" />
                <form method="post" action="@Url.Action("SearchByApplication", "Investigator")" data-partial="true" data-investigator-search="true" data data-target="SearchResults">
                    <div class="left label">Afisquery Number</div>
                    @Html.TextBox("afisquerynum", null, new { @class = "left textbox", @type = "number" })
                    <div class="clear"></div>

                    <div class="left label">Passport Number</div>
                    @Html.TextBox("passportnum", null, new { @class = "left textbox" })
                    <div class="clear"></div>

                    <div class="left label">ID Person</div>
                    @Html.TextBox("idperson", null, new { @class = "left textbox", @type = "number" })
                    <div class="clear"></div>

                    <div class="left label">Enrolment ID</div>
                    @Html.Hidden("branchid")
                    <div class="left spaceright">
                        <select id="branchNames" class="selectbox left">
                            <option></option>
                            @foreach (EPMS_Forensics_Entities.Branch branch in ViewBag.Branches)
                            {
                                <option value="@branch.BranchCode">@branch.BranchName</option>
                            }
                        </select>
                    </div>
                    <div class="left spaceright">
                        <select id="branchIds" class="selectbox left">
                            <option></option>
                            @foreach (EPMS_Forensics_Entities.Branch branch in (ViewBag.Branches as List<EPMS_Forensics_Entities.Branch>).OrderBy(x => x.BranchCode))
                            {
                                <option value="@branch.BranchCode">@branch.BranchCode</option>
                            }
                        </select>
                    </div>
                    @Html.TextBox("enrolmentid", null, new { @class = "left textbox lasttextbox width100", @type = "number" })
                    <div class="clear"></div>

                    <div class="searchbtn">
                        <input type="submit" class="left spacetop button" value="Submit" />
                        <div class="loadingdiv left">
                            <div class="smallmodal"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="errormsg"></div>
                </form>
            </div>
            
            <div id="searchbybooklet" class="searchoption">
                <hr class="hrline" />
                <form method="post" action="@Url.Action("SearchByBooklet", "Investigator")" data-partial="true" data-investigator-search="true" data data-target="SearchResults">
                    <div class="left label">Booklet Number</div>
                    @Html.TextBox("tracebooklet", null, new { @class = "left textbox lasttextbox" })
                    <div class="clear"></div>
                    <div class="searchbtn">
                        <input type="submit" class="left spacetop button" value="Submit" />
                        <div class="loadingdiv left">
                            <div class="smallmodal"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="errormsg"></div>
                </form>
            </div>

            <div id="searchblacklist" class="searchoption">
                <hr class="hrline" />
                <form method="post" action="@Url.Action("SearchBlacklist", "Investigator")" data-partial="true" data-investigator-search="true" data-target="SearchResults">
                    <div class="left label">Passport Number</div>
                    @Html.TextBox("blacklistpassport", null, new { @class = "left textbox" })
                    <div class="clear"></div>
                    <div class="searchbtn">
                        <input type="submit" class="left spacetop button" value="Submit" />
                        <div class="loadingdiv left">
                            <div class="smallmodal"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="errormsg"></div>
                </form>
            </div>
        }

        <div id="searchbyfingerprint" class="searchoption">
            <hr class="hrline" />
            <div class="button collectfingerbtn left">Collect Fingerprint</div>
            <div class="button searchfingerbtn left">Browse for Fingerprint</div>
            <form id="uploader" class="hidden">
                <input id="fileInput" onchange="SearchForFingerprint()" type="file" accept=".bmp, .wsq">
                <input type="submit" value="Upload file" />
            </form>
            <div id="fingerprintload" class="loadingdiv left">
                <div class="smallmodal"></div>
            </div>
            <div class="left searchingafis hidden">Searching AFIS (Depending on AFIS traffic, searches can take as much as 1 minute)</div>
            <div class="clear"></div>
            <div class="errormsg"></div>
        </div>
    </div>

    <div id="SearchResults" class="printable"></div>

    <div id="SelectedDetails"></div>

    <div class="PopupWindow" id="searchFunctions">
        <div class="closebtn">X</div>
        <div class="applicantselected left"></div>
        <div id="searchfunctionloading" class="loadingdiv left">
            <div class="smallmodal"></div>
        </div>
        <div class="clear"></div>

        @Html.Hidden("selectedid")
        @Html.Hidden("selectedformnos")
        <div onclick="DoApplicantFunction(1)" class="button functionoption">View Table Data</div>
        <div onclick="DoApplicantFunction(2)" class="button functionoption">View AFIS Transaction</div>
        <div onclick="DoApplicantFunction(3)" class="button functionoption">View Enrolment History</div>
        <div onclick="DoApplicantFunction(4)" class="button functionoption">View Booklet Page</div>
        <div onclick="DoApplicantFunction(5)" class="button functionoption">View Application Info</div>
    </div>
</div>
